<link rel="stylesheet" href="/css/sign.css"> 
<div class="input-form">
    <form method="post" action="/users/sign-in" >
        <input type="email" name="email" placeholder="Enter email" required><br>
        <input type="password" name="password" placeholder="Enter password" required><br>
        
        <button type="submit">Sign In</button>
    </form>
</div>